.top {
  min-height: 100vh;
  margin: auto;
  width: 100%;
  background-color: #fbfbfb;
  text-align: center;
}

.top h1 {
  padding: 24px;
}

.jobMainBody {
  width: 85%;
  align-self: center;
  margin: auto;
  background-color: white;
  box-shadow: 1px 2px 2px #eee;
  text-align: left;
  border-radius: 4px;
  padding: 16px;
}
.jobMainBody div {
  padding: 0px;
}
