.viewProfileMain {
  background-color: white;
  box-shadow: 0px 2px 6px 2px rgba(238, 238, 238, 1),
    0px 1px 2px 0px rgba(155, 155, 155, 1);
  border-radius: 4px;
}

.justListLeft {
  text-align: justify;
  padding-left: 0px;
}

.UserProfileRemoveBulletAndPadding {
  list-style-type: none;
  padding-left: 0px;
}

.titleCSS {
  color: grey;
  text-align: start;
  list-style-type: none;
  padding-left: 0px;
}

.labelCSS {
  text-align: start;
  list-style-type: none;
  padding-left: 0px;
}
.editIcon {
  cursor: pointer;
  color: black !important;
  margin-top: 0px !important;
  font-size: 1.8rem !important;
  position: absolute !important;
  bottom: 0;
  right: 20px;
  z-index: 2; /* Ensure this is high enough */
}
.imageDiv {
  width: 125px;
  height: auto;
  position: relative;
  text-align: right;
  z-index: 0; /* Ensure this is high enough */
}
.customTooltip {
  z-index: 9999; /* Ensure the tooltip is above other elements */
}

.addWorkPhotoButton {
  min-height: 200px;
  min-width: 100%;
}

.addWorkPhotoButton:hover {
  cursor: pointer;
  border: 1px solid #ffc107 !important;
  background-color: white !important;
}
.scrollableDescription {
  max-height: 150px; /* Set the max height as needed */
  overflow-y: auto;
  word-wrap: break-word; /* Ensures long words break into a new line */
  min-width: 350px;
  text-align: left;
}

.infoIcons{
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.infoIconsArrow{
  width: 40px;
  height: 40px;
}
.infoIconsButton{
  width: 100px;
  height: 50px;
}

.stepsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  text-align: center;
  gap: 10px; /* Adds space between steps */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordionHeader {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.infoIcon {
  font-size: 1.8rem; /* Adjust size as needed */
  margin-left: auto; /* Align icon to the right */
  color: rgb(59, 196, 159); 
  margin-right: 0.5rem; 
  margin-top: 0.3rem;
  /* margin : 0.2rem */
}


/* Add responsive behavior for mobile screens */
@media (max-width: 768px) {
  .stepsWrapper {
    flex-direction: column;
  }

  .infoIconsArrow {
    display: none; /* Hide arrows on mobile */
  }
}
@media screen {
  .viewProfileMain {
    width: 100% !important;
  }
}
